<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

AddType image/x-icon .ico
AddType text/xml .rdf

Redirect 410 /content/watch.php
Redirect 410 /includes/ho_header-a.php
Redirect 410 /includes/global.php

SetEnvIf HOST dev.vigilantmedia.com dev
SetEnvIf HOST test.vigilantmedia.com test
AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "Vigilant Media development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Satisfy any
